################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/bin/Release
/obj/Release
/packages/DynamicLanguageRuntime.1.3.4
/packages/FileHelpers.3.5.2
/packages/Microsoft.AspNetCore.Cryptography.Internal.7.0.13
/packages/Microsoft.AspNetCore.Cryptography.KeyDerivation.7.0.13
/packages/NAudio.1.10.0
/obj/Debug
/.vs/LethalCompanySaveManager
